{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/art/art-detail.css" %}">
{% endblock head %}

{% block content %}
<section class="cat-container">
    <div class="cat-img">
        <img src="{{art.image}}" alt="thumbnail art image">
    </div>
    <div class="cat-details">
        <h1>{{art.title}}</h1>
        <h2>{{art.artist}}</h2>
        <p>Completed: {{art.date}}</p>
        <p>Medium: {{art.medium}}</p>
        <p>Movement: {{art.movement}}</p>

        <div class="cat-actions">
            <a href="{% url "art-update" art.id %}" class="btn warn">Edit</a>
            <a href="{% url "art-delete" art.id %}" class="btn danger">Delete</a>
        </div>
    </div>
</section>

<div class="feedings-toy-container">
    <section class="feedings">
        <div class="subsection-title">
            <h2>Viewed in Person</h2>
            <img src="{% static "images/cat_images/cat-cone.svg" %}" alt="An ice cream cone cat">
            <img src="{% static "images/cat_images/cat-onigiri.svg" %}" alt="An ice cream cone cat">
            <img src="{% static "images/cat_images/kitty-kabob.svg" %}" alt="An ice cream cone cat">
        </div>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Museum</th>
                </tr>
            </thead>
            <tbody>
                {% for viewing in art.viewing_set.all %}
                <tr>
                    <td>{{viewing.date}}</td>
                    <td>{{viewing.museum}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock content %}