{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/art/art-detail.css" %}" />
{% endblock head %}

{% block content %}
<section class="cat-container">
    <div class="cat-img">
        <img src="{{art.image}}" alt="thumbnail art image">
    </div>
    <div class="cat-details">
        <h1>{{art.title}}</h1>
        <h2>{{art.artist}}</h2>
        <p>Completed: {{art.date}}</p>
        <p>Medium: {{art.medium}}</p>
        <p>Movement: {{art.movement}}</p>
        <p>Location: {{art.location}}</p>
        {% if art.viewed %}
            <p>Viewed in Person: &#9745;</p>
        {% endif %}

        <div class="cat-actions">
            <a href="{% url "art-update" art.id %}" class="btn warn">Edit</a>
            <a href="{% url "art-delete" art.id %}" class="btn danger">Delete</a>
        </div>
    </div>
</section>

<div class="feeding-toy-container">
    <section class="feedings">
        <div class="subsection-title">
            <h2>Master Copies</h2>
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <h3>Add A Master Copy</h3>
        <form
            
            method="post" 
            class="subsection-content" 
            autocomplete="off"
            >
            {% csrf_token %}
            {{copy_form.as_p}}
            <button type="submit" class="btn submit">Add</button>
        </form>

        <h3>Other Master Copies</h3>
        {% if art.copy_set.all.count %}

            {% for copy in art.copy_set.all %}
            <div class="card">
                <div class="card-content">
                    <div class="cat-img">
                        <img src="{{copy.image}}" alt="thumbnail art image">
                    </div>
                    <div class="cat-details">
                        <h2>{{copy.artist}}</h2>
                        <p>{{copy.date}}</p>
                        <p>{{copy.notes}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="subsection-content">
                <p>Add a new Master Copy</p>
            </div>
        {% endif %}
        
    </section>
</div>

{% endblock content %}