{% extends "base.html" %}

{% block content %}
<h1>About the Art Collector</h1>
<hr />

<p class="page-content">
    The Art Collector is a resource created for students in the Evolve Artist Program.
    It focuses on Block 8, Master Copy, which is the final stage of the curriculum.
    Given my limited background in master copy painting, I wanted to create a space to gather and share artworks I've discovered, 
    along with pieces created by fellow students during this block.
</p>

{% endblock content %}