{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "images/art_images/starry-night.png" %}" type="image/png">
    
    <link rel="stylesheet" href="{% static "css/base.css" %}">

    {% block head %}{% endblock %}

    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-logo-container">
            {% comment %} <img src="{% static "images/art_images/26864-200.png" %}" alt="mono lisa outline"> {% endcomment %}
            <a href="{% url "home" %}">ART COLLECTOR</a>
        </div>

        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url "art-index" %}">Gallery</a></li>
                    <li><a href="{% url "art-create" %}">Add Artwork</a></li>
                    <li><a href="{% url "list-index" %}">View Lists</a></li>
                    <li><a href="{% url "list-create" %}">Add a List</a></li>
                    <li><a href="{% url "about" %}">About</a></li>
                    <li>
                        <form id="logout-form" method="post" action="{% url "logout" %}">
                            {% csrf_token %}
                            <button type="submit">Log out</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url "about" %}">About</a></li>
                    <li><a href="{% url "home" %}">Login</a></li>
                    <li><a href="{% url "signup" %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>