{% extends "base.html" %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/list/list-index.css" %}">
{% endblock head %}

{% block content %}
<section class="page-header">
    <h1>All Lists</h1>
</section>

<section class="card-container">
    {% for list in list_list %}
        <div class="card" style="border-color: {{list.color}}">
            <div class="card-bg" style="background-color: {{list.color}}"></div>
            <a href="{% url "list-detail" list.id %}">
                <div class="card-content">
                    <h2>{{list.name}}</h2>
                    <p>{{list.notes}}</p>
                </div>
            </a>

        </div>
    {% endfor %}
</section>
{% endblock content %}